<div>
	<!-- <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a> -->
	<h2>Compose <small>Your mail</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<div class="jumbotron"  style="background: #9e918e;">
		<div class="container">
			
			<form role="form" ng-submit="ctrl.submit()" name="myForm">

		        <div class="form-content">
		          <div class="form-group">
		            <input type="text" class="form-control input-underline input-lg" ng-model="ctrl.mail.from"  placeholder="From :" required>
		          </div>

		          <div class="form-group">
		            <input type="text" class="form-control input-underline input-lg" ng-model="ctrl.mail.to" id="" placeholder="To :" required>
		          </div>

		          <div class="form-group">
		            <input type="text" class="form-control input-underline input-lg" ng-model="ctrl.mail.subject" id="" placeholder="Subject :" required>
		          </div>

		          <div class="form-group">
		            <textarea type="text" class="form-control" ng-model="ctrl.mail.msg" id="" placeholder="Message :"></textarea>
		          </div>
		        </div>

		        <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Send</button>
		        
      		</form>
				
			</p>
		</div>
	</div>
</div>